 
            body{
                font-family: Arial, sans-serif;
                max-width: 900px;
                margin: 0 auto;
                padding: 20px;
            }

            h1{
                color: red;
                text-align: center;
                font-size: 40px;
            }

            h2{
                color: darkred;
            }

            header{
                background-color: #eeeeee;
                padding: 20px;
                text-align: center;
            }
            
            section{
                border: 1px solid #cccccc;
                margin: 20px;
                padding: 15px;
            }

            footer{
                background-color: #eeeeee;
                padding: 10px;
                text-align: center;
                margin-top:30px;
            }
        